In [6]:
import pandas as pd
import numpy as np

In [7]:
dataset = pd.read_csv("PrePlacement.csv")
dataset

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.000000,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.000000,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.000000,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,4.0,56.00,52.00,52.00,66.0,59.43,288655.405405,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,5.0,85.80,73.60,73.30,96.8,55.50,425000.000000,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211.0,80.60,82.00,77.60,91.0,74.49,400000.000000,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,212.0,58.00,60.00,72.00,74.0,53.62,275000.000000,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,213.0,67.00,67.00,73.00,59.0,69.72,295000.000000,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,214.0,74.00,66.00,58.00,70.0,60.23,204000.000000,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,215.0,62.00,58.00,53.00,89.0,60.22,288655.405405,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [8]:
from statsmodels.distributions.empirical_distribution import ECDF

In [9]:
ecdf = ECDF(dataset["ssc_p"])

In [11]:
ecdf(70)

0.6093023255813953

In [12]:
#!pip install statsmodel

In [5]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.13.5-cp37-cp37m-win_amd64.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 359.5 kB/s eta 0:00:00
Collecting patsy>=0.5.2
  Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
     ------------------------------------ 232.9/232.9 kB 569.5 kB/s eta 0:00:00
Requirement already satisfied: scipy>=1.3 in c:\users\hxtreme\anaconda3\envs\aiml\lib\site-packages (from statsmodels) (1.7.3)
Requirement already satisfied: packaging>=21.3 in c:\users\hxtreme\anaconda3\envs\aiml\lib\site-packages (from statsmodels) (22.0)
Requirement already satisfied: pandas>=0.25 in c:\users\hxtreme\anaconda3\envs\aiml\lib\site-packages (from statsmodels) (1.3.5)
Requirement already satisfied: numpy>=1.17 in c:\users\hxtreme\anaconda3\envs\aiml\lib\site-packages (from statsmodels) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\hxtreme\anaconda3\envs\aiml\lib\site-packages (from pandas>=0.25->statsmodels) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hxtreme\anaconda3\envs\aiml\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hxtreme\anaconda3\envs\aiml\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-1.0.1 statsmodels-0.13.5

WARNING: There was an error checking the latest version of pip.